{% extends 'base_main.html' %}
{% load static %}
{% block header %}
    <header class="main-header">
        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <div class="logo-outer">
                        <div class="logo"><a href="{% url 'showSecond:index' %}"><img src="{% static 'images/logo.png' %}" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-button"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="{% url 'showSecond:index' %}">首&nbsp;&nbsp;页</a>
                                    </li>
                                    <li class="dropdown"><a href="blog-sidebar.html">新闻动态</a>
                                    </li>
                                    <li class="dropdown current"><a href="{% url 'showSecond:merchants' %}">招商加盟</a>
                                    </li>
                                    <li class="dropdown"><a href="about.html">公司简介</a>
                                    </li>
                                    <li class="dropdown"><a href="contact.html">联系我们</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
                           <!-- Button Box -->
							<div class="btn-box">
								<a href="contact.html" class="theme-btn btn-style-one"><span class="icon flaticon-phone-receiver"></span><i> 电话 ： 400-013-0138</i></a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" title=""><img src="{% static 'images/logo-small.png' %}" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-collapse show collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown"><a href="{% url 'showSecond:index' %}">首&nbsp;&nbsp;页</a></li>
                                <li class="dropdown"><a href="blog-sidebar.html">新闻动态</a></li>
                                <li class="dropdown current"><a href="{% url 'showSecond:merchants' %}">招商加盟</a></li>
                                <li class="dropdown"><a href="about.html">公司简介</a></li>
                                <li class="dropdown"><a href="contact.html">联系我们</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div><!-- End Sticky Menu -->
    </header>
    <!-- End Main Header -->
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/8.jpg' %});">
        <div class="auto-container">
            <div class="clearfix">
				<div class="pull-left">
					<h1>合作共赢</h1>
					<div class="text">官网指定唯一加盟渠道，我们诚邀您加入合作商计划</div>
				</div>
				<div class="pull-right">
					<ul class="bread-crumb clearfix">
						<li><a href="index.html">首页</a></li>
						<li>招商加盟</li>
					</ul>
				</div>
            </div>
        </div>
    </section>
    <!--End Page Title-->
    {#  支持 -------开始 #}
    <!-- In Touch Section -->
	<section class="in-touch-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">{{supporttitles.title_small_title}}</div>
				<h2>{{ supporttitles.title_big_title }}</h2>
				<div class="text">
					{{ supporttitles.title_us_title }}
				</div>
			</div>

			<div class="row clearfix" style="height: 500px;">
                {% for support in supports %}
                    <!-- Contact Info Boxed -->
                    <div class="contact-info-boxed col-lg-4 col-md-6 col-sm-12">
                        <a href="">
                            <div class="info-inner">
                                <div class="content">
                                    <div class="icon-box">
                                        <span class="icon flaticon-house"></span>
                                    </div>
                                    <div class="text">
                                        <h3><strong style="color: black;">{{support.support_title}}</strong></h3>
                                        <span style="font-size: 14px;color: rgba(192,192,192,0.8);">{{support.support_describe}}</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
			</div>
		</div>
	</section>
	<!-- End In Touch Section -->
    {#  支持 -------结束 #}
    {#  流程 -------开始  #}
    <!-- Steps Section -->
	<section class="steps-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title centered">
				<div class="title">{{processtitles.title_small_title}}</div>
				<h2>{{ processtitles.title_big_title }}</h2>
				<div class="text">
					{{processtitles.title_us_title}}
				</div>
			</div>

			<div class="row clearfix">
                {% for process in process_list %}
                    <!-- Process Block -->
                    <div class="process-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box">
                            <div class="number"></div>
                            <h3>{{process.process_title}}</h3>
                            <div class="lower-content">
                                <div class="icon"><img src="{{ process.process_img }}" alt="" /></div>
                                <div class="text">
                                    {{ process.process_describe }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			</div>
		</div>
	</section>
	<!-- End Steps Section -->
    {#  流程 -------结束  #}
{% endblock %}
{% block content %}

{% endblock %}