{% extends 'base_main.html' %}
{% load static %}
{% block header %}
    <header class="main-header">
        <!-- Header Upper -->
        <div class="header-upper">
            <div class="inner-container">
                <div class="auto-container clearfix">
                    <div class="logo-outer">
                        <div class="logo"><a href="{% url 'showSecond:index' %}"><img src="{% static 'images/logo.png' %}" alt="" title=""></a></div>
                    </div>

                    <div class="nav-outer clearfix">
                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="navbar-header">
                                <!-- Togg le Button -->
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon flaticon-menu-button"></span>
                                </button>
                            </div>

                            <div class="collapse navbar-collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="dropdown current"><a href="{% url 'showSecond:index' %}">首&nbsp;&nbsp;页</a>
                                    </li>
                                    <li class="dropdown"><a href="blog-sidebar.html">新闻动态</a>
                                    </li>
                                    <li class="dropdown"><a href="{% url 'showSecond:merchants' %}">招商加盟</a>
                                    </li>
                                    <li class="dropdown"><a href="about.html">公司简介</a>
                                    </li>
                                    <li class="dropdown"><a href="contact.html">联系我们</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->

                        <!-- Main Menu End-->
                        <div class="outer-box clearfix">
                           <!-- Button Box -->
							<div class="btn-box">
								<a href="contact.html" class="theme-btn btn-style-one"><span class="icon flaticon-phone-receiver"></span><i> 电话 ： 400-013-0138</i></a>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                    <a href="index.html" title=""><img src="{% static 'images/logo-small.png' %}" alt="" title=""></a>
                </div>
                <!--Right Col-->
                <div class="pull-right">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-collapse show collapse clearfix">
                            <ul class="navigation clearfix">
                                <li class="dropdown current"><a href="{% url 'showSecond:index' %}">首&nbsp;&nbsp;页</a></li>
                                <li class="dropdown"><a href="blog-sidebar.html">新闻动态</a></li>
                                <li class="dropdown"><a href="{% url 'showSecond:merchants' %}">招商加盟</a></li>
                                <li class="dropdown"><a href="about.html">公司简介</a></li>
                                <li class="dropdown"><a href="contact.html">联系我们</a></li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div><!-- End Sticky Menu -->
    </header>
    <!-- End Main Header -->
    {# baner-----------开始   #}
    <!-- Bnner Section -->
    <section class="banner-section">
        <div class="banner-carousel owl-carousel owl-theme">
            {% for baner in baners %}
                <!-- Slide Item -->
            <div class="slide-item" style="background-image: url({{baner.baner_image}});">
                <div class="auto-container clearfix">
                    <!-- Content Box -->
                    <div class="content-box">
                        <div class="inner">
                            <h2>{{ baner.baner_describe }}</h2>
                            <div class="text">..</div>
                            <div class="link-box">
                            	<a href="about.html" class="theme-btn btn-style-two"><i>了解...</i> <span class="arrow flaticon-next-8"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- Business Section -->
    {# baner-----------结束   #}
{% endblock %}
{% block content %}
    {# 宣传片-----------开始   #}
	<section class="business-section">
		<div class="auto-container">
			<div class="row clearfix">

				<!-- Content Column -->
				<div class="content-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<h2>{{onetitles.title_big_title}}<span>{{onetitles.title_small_title}}</span></h2>
						<div class="text">
							{{ onetitles.title_describe }}
						</div>
						<!-- Play Box -->
						<div class="play-box">
							<a href="{{ video.video_fifle }}" class="lightbox-image play-icon wow bounceIn" data-wow-delay="0ms" data-wow-duration="1500ms" style="background-image:url({% static 'images/resource/play-image.jpg' %})"><span class="play-btn flaticon-play-button"></span></a>
							{{ video.video_ch }} <br>
                            <span>{{ video.video_us }}</span>
						</div>

						<!-- More Box -->
						<div class="more-about">
							<!--<a class="about" href="about.html">More About Company <span class="arrow flaticon-next-7"></span></a>-->
						</div>
					</div>
				</div>
				<!-- Image Column -->
				<div class="image-column col-lg-6 col-md-12 col-sm-12">
					<div class="inner-column">
						<!-- Image Gallery -->
						<div class="images-gallery">
							<!-- Image One -->
							<div class="image image-one">
								<a href="{{pureimage.pureimage_one}}" data-fancybox="business" data-caption="" class=""><img src="{{pureimage.pureimage_one}}" alt="" /></a>
							</div>
							<!-- Image Two -->
							<div class="image image-two">
								<a href="{{ pureimage.pureimage_two }}" data-fancybox="business" data-caption="" class=""><img src="{{ pureimage.pureimage_two }}" alt="" /></a>
							</div>
							<!-- Image Three -->
							<div class="image image-three">
								<a href="{{ pureimage.pureimage_three }}" data-fancybox="business" data-caption="" class=""><img src="{{ pureimage.pureimage_three }}" alt="" /></a>
							</div>
							<!-- Image Four -->
							<div class="image image-four">
								<a href="{{ pureimage.pureimage_four }}" data-fancybox="business" data-caption="" class=""><img src="{{ pureimage.pureimage_four }}" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Business Section -->
    {# 宣传片----------结束  #}
    {# 产品优势-----------开始   #}
    <!-- Industries Section -->
	<section class="industry-section" style="background-image:url({% static 'images/background/1.jpg' %})">
		<div class="auto-container">

			<!-- Sec Title -->
			<div class="sec-title light centered">

				<h2>{{twotitles.title_big_title}}</h2>
				<div class="text">
                    {{ twotitles.title_describe }}
				</div>
			</div>

			<div class="row clearfix">
                {% for productadvantage in productadvantages %}
                    <!-- Industry Block -->
                    <div class="industry-block col-lg-3 col-md-6 col-sm-12">
                        <div class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="upper-box">
                                <h3>{{productadvantage.productAdvantage_zh}}<br> {{ productadvantage.productAdvantage_us }}</h3>
                                <div class="icon-box">
                                    <span class="icon"><img src="{{productadvantage.productAdvantage_img}}" alt="" /></span>
                                </div>

                                <!-- Overlay Box -->
                                <div class="overlay-box">
                                    <div class="overlay-inner">
                                        <div class="overlay-content">
                                            <h4><a href="advance-analytics.html">{{productadvantage.productAdvantage_zh}} & <br>{{ productadvantage.productAdvantage_us }}</a></h4>
                                            <div class="text">{{ productadvantage.productAdvantage_descride }}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="lower-box">
                                <a href="advance-analytics.html" class="read-more">了解更多...</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			</div>
		</div>
	</section>
	<!-- End Industries Section -->
    {# 产品优势-----------结束   #}
    {# 我们的服务-----------开始   #}
    <!-- Services Section -->
	<section class="services-section">
		<div class="auto-container">
			<!-- Sec Title -->
			<div class="sec-title">
				<div class="clearfix">
					<div class="pull-left">
						<div class="title">{{servicestitles.title_small_title}}</div>
						<h2>{{servicestitles.title_big_title}}</h2>
						<div class="text">
							{{ servicestitles.title_describe }}
						</div>
					</div>
					<div class="pull-right">
						<a href="services.html" class="theme-btn btn-style-four"><i>查看详情</i> <span class="arrow flaticon-next-8"></span></a>
					</div>
				</div>
			</div>
			<div class="services-carousel owl-carousel owl-theme">
                {% for service in services %}
                    <!-- Services Block -->
                    <div class="services-block">
                        <div class="inner-box">
                            <div class="image">
                                <img src="{{ service.service_img }}" alt="" />
                                <a href="advance-analytics.html" class="overlay-link"></a>
                            </div>
                            <div class="lower-content">
                                <div class="category">{{service.service_type}}</div>
                                <div class="text">{{ service.service_descride }}</div>
                                <a class="read-more" href="advance-analytics.html"><span class="arrow left flaticon-next-7"></span> 了解详情 <span class="arrow right flaticon-next-7"></span></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
			</div>
		</div>
	</section>
    {# 我们的服务-----------结束   #}
    {# 合作伙伴-----------开始   #}
    <!--Newsleter Section-->
    <section class="newsletter-section">
    	<div class="auto-container">
        	<div class="inner-container margin-bottom">
            	<div class="row clearfix">

                    <!--Title Column-->
                    <div class="title-column col-lg-5 col-md-12 col-sm-12">
                    	<div class="inner-column">
                        	<h4>{{partnerstitles.title_big_title}}</h4>
                            <div class="title">{{ partnerstitles.title_describe }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Newsleter Section-->
    <!--Sponsors Section-->
    <section class="sponsors-section">
    	<div class="auto-container">

            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    {% for partner in partners %}
                        <li class="slide-item"><figure class="image-box"><a href="#"><img src="{{ partner.partners_img }}" alt=""></a></figure></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </section>
    <!--End Sponsors Section-->
    {# 合作伙伴-----------结束   #}
{% endblock %}
