{% extends 'base.html' %}
{% load static %}
{% block footer %}
    <!--Main Footer-->
    <footer class="main-footer">

		<div class="auto-container">

        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">

					<!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

							<!--Footer Column-->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget about-widget">
									<h3>让我们共同为您的出行打安全造舒适的环境</h3>
									<div class="text">
										我们的目标是帮助我们的用户在出行乘车安全方面预知人为的安全事故，避免我们用户的生命遭到致命威胁，减少我们的用户财产损失
									</div>
									<a href="/static/html/about.html" class="theme-btn btn-style-five">阅读详情 <span class="arrow flaticon-next-8"></span></a>
								</div>
							</div>

							<!--Footer Column-->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget links-widget">
									<h2>支持与服务</h2>
									<ul class="footer-link-list">
										<li><a href="#">关于公司</a></li>
										<li><a href="#">认识团队</a></li>
										<li><a href="#">我们的项目</a></li>
										<li><a href="#">新闻</a></li>
										<li><a href="#">联系我们</a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>

					<!--big column-->
                    <div class="big-column col-lg-6 col-md-12 col-sm-12">
                        <div class="row clearfix">

							<!--Footer Column-->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget links-widget">
									<h2>解决方案</h2>
									<ul class="footer-link-list">
										<li><a href="#">变更管理</a></li>
										<li><a href="#">企业融资</a></li>
										<li><a href="#">客户营销</a></li>
										<li><a href="#">信息技术</a></li>
									</ul>
								</div>
							</div>

							<!--Footer Column-->
							<div class="footer-column col-lg-6 col-md-6 col-sm-12">
								<div class="footer-widget services-widget">
									<h2>服务查询</h2>
									<!-- Services List -->
									<ul class="service-list">
										<li><span>电子邮件:</span> 474733277@qq.com</li>
										<li><span>服务热线:</span> +400-013-0138</li>
									</ul>
									<h2>微信公众号</h2>
									<!-- Services List -->
									<ul class="service-list">
										<li>
											<img src="/static/images/wxgongzuohao.png" alt="">
										</li>
									</ul>
									<a href="/templates/getshow/contact.html" class="read-more">地理位置 <span class="arrow flaticon-next-8"></span></a>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

			<!-- Footer Bottom -->
			<div class="footer-bottom">
				<div class="clearfix">
					<!-- Footer Logo -->
					<div class="pull-left">
						<div class="copyright"> 四川鼎鸿物联网科技有限公司 <span>&nbsp;&nbsp; 2019 &copy; 备案号 : <!--564681VGBFE--></span></div>
					</div>
					<div class="pull-right">
						<ul class="footer-list">
							<li><a href="#">隐私政策</a></li>
							<li><a href="#">法律术语</a></li>
							<li><a href="#">常见问题</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}